//------------------------------------------------------------------------------
// Body
//------------------------------------------------------------------------------

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

body {

	@include typeface(
		Sans,
		$size: 18px,
		$fill: #000
	);

	@include text-antialias;
	@include text-adjust;
	line-height: 1.5;
	margin: 0;
	padding: 0;

	&.admin-bar {
		padding-top: 32px;
	}

	&.preview {
		height: auto;
		overflow: auto;
		width: auto;
	}
}

//------------------------------------------------------------------------------
// Links
//------------------------------------------------------------------------------

a {
	@include transition-property;
	@include transition-duration(hover);
	@include transition-equation(hover);
	color: red;
	text-decoration: none;
}

//------------------------------------------------------------------------------
// Image
//------------------------------------------------------------------------------

img {
	border: none;
}

//------------------------------------------------------------------------------
// List
//------------------------------------------------------------------------------

ul, ol, li {
	list-style: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

//------------------------------------------------------------------------------
// Form
//------------------------------------------------------------------------------

input, button, textarea {

	font-family: inherit;
	font-weight: normal;
	font-size: rvw(15px);

	&:focus {
		outline: none;
	}

	@include placeholder() {
		color: #000;
	}
}

//------------------------------------------------------------------------------
// Subscript / Superscript
//------------------------------------------------------------------------------

sup {
	font-size: 50%;
}

//------------------------------------------------------------------------------
// Address
//------------------------------------------------------------------------------

address {
	font-style: normal;
}

//------------------------------------------------------------------------------
// Preview
//------------------------------------------------------------------------------

.preview * {
	transition-property: none !important;
	transition-duration: 0ms !important;
	transition-delay: 0ms !important;
}