//------------------------------------------------------------------------------
// Body
//------------------------------------------------------------------------------

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

html {

	/*
	 * This is necessary for smooth scrolling.
	 */

	@include media-breakpoint-up(xl) {
		height: 100%;
		width: 100%;
	}

	/*
	 * There seems to be some kind of rounding issues in firefox. By adding
	 * 0.5 to some of the font sizes it fixes the issue.
	 */

	font-size: 20.5px;

	@include media-breakpoint-down(xxl) {
		font-size: 17.5px;
	}

	@include media-breakpoint-down(xl) {
		font-size: 16.0px;
	}

	@include media-breakpoint-down(lg) {
		font-size: 15.5px;
	}

	@include media-breakpoint-down(md) {
		font-size: 14.5px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 13.5px;
	}

	@include media-breakpoint-down(xs) {
		font-size: 13.5px;
	}
}

body {

	@include text-antialias();
	color: #000000;
	font-family: sans-serif;
	font-weight: 400;
	font-size: rvw(17px, auto);
	line-height: 1.5;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;

	.smooth-scrolling & {
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

	&.preview {
		height: auto;
		overflow: auto;
		width: auto;
	}
}

//------------------------------------------------------------------------------
// Links
//------------------------------------------------------------------------------

a {
	color: blue;
	text-decoration: none;
}

//------------------------------------------------------------------------------
// Image
//------------------------------------------------------------------------------

img {
	border: none;
}

//------------------------------------------------------------------------------
// Form
//------------------------------------------------------------------------------

input, button, textarea {

	font-family: inherit;
	font-weight: normal;
	font-size: rvw(15px, auto);

	&:focus {
		outline: none;
	}

	@include placeholder() {
		color: #000;
	}
}

//------------------------------------------------------------------------------
// Subscript / Superscript
//------------------------------------------------------------------------------

sup {
	font-size: 50%;
}

//------------------------------------------------------------------------------
// Preview
//------------------------------------------------------------------------------

.preview * {
	transition-property: none !important;
	transition-duration: 0ms !important;
	transition-delay: 0ms !important;
}