//------------------------------------------------------------------------------
// Sticky
//------------------------------------------------------------------------------

.sticky {
	@include sticky(top 0);
}

//------------------------------------------------------------------------------
// Image
//------------------------------------------------------------------------------

.image {

	&.image--mode-background {

		@include fill;

		.frame {
			@include fill;
		}

		.layer {
			@include fill;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&.image--mode-foreground {

		@include relative;

		.frame {
			@include relative;
		}

		.layer {
			display: block;
			height: auto;
			width: 100%;
		}
	}
}

//------------------------------------------------------------------------------
// Video
//------------------------------------------------------------------------------

.video {

	@include fill;
	background: #000;
	overflow: hidden;

	video {
		height: 100%;
		opacity: 0;
		object-fit: cover;
		transition-property: opacity, transform;
		transition-duration: transition-duration(soft);
		transition-timing-function: transition-equation(soft);
		width: 100%;
	}

	&.video--playing {
		video {
			opacity: 1;
		}
	}

	&.video--loading {
		.spinner {
			opacity: 1;
		}
	}

	&.video--playing {
		.spinner {
			opacity: 0;
		}
	}
}

//------------------------------------------------------------------------------
// Spinner
//------------------------------------------------------------------------------

.spinner {
	@include absolute(top 50% left 50%);
	animation: spinner-rotate 3s linear infinite;
	border: rem(2px) solid #FFFFFF;
	border-radius: rvw(60px);
	border-left-color: transparent;
	height: rvw(60px);
	margin-top: rvw(-30px);
	margin-left: rvw(-30px);
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: transition-duration(soft);
	transition-timing-function: transition-equation(soft);
	width: rvw(60px);
}

@keyframes spinner-rotate {
	to {
		transform: rotate(360deg);
	}
}
