//------------------------------------------------------------------------------
// Block
//------------------------------------------------------------------------------

.block {
	@include elevated(block);
}

//------------------------------------------------------------------------------
// Image
//------------------------------------------------------------------------------

.image {

	overflow: hidden;

	img {
		display: block;
	}

	&.image--fit {

		@include relative;

		img {
			height: auto;
			object-fit: contain;
			object-position: center center;
			width: 100%;
		}
	}

	&.image--fill {

		@include fill;

		img {
			@include absolute(top 0 left 0);
			height: 100%;
			object-fit: cover;
			object-position: center center;
			width: 100%;
		}
	}

	.frame {
		@include relative;
		height: 100%;
		width: 100%;
	}
}

//------------------------------------------------------------------------------
// Video
//------------------------------------------------------------------------------

.video {

	@include fill;
	background: #000;
	overflow: hidden;

	video {
		height: 100%;
		opacity: 0;
		object-fit: cover;
		transition-property: opacity, transform;
		transition-duration: transition-duration(soft);
		transition-timing-function: transition-equation(soft);
		width: 100%;
	}

	&.video--playing {
		video {
			opacity: 1;
		}
	}

	&.video--loading {
		.spinner {
			opacity: 1;
		}
	}

	&.video--playing {
		.spinner {
			opacity: 0;
		}
	}
}

//------------------------------------------------------------------------------
// Spinner
//------------------------------------------------------------------------------

.spinner {

	@include absolute(top 50% left 50%);
	animation: spinner-rotate 3s linear infinite;
	border: 2px solid #FFFFFF;
	border-radius: rvw(60px);
	border-left-color: transparent;
	height: rvw(60px);
	margin-top: rvw(-30px);
	margin-left: rvw(-30px);
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: transition-duration(soft);
	transition-timing-function: transition-equation(soft);
	width: rvw(60px);

	@keyframes spinner-rotate {
		to {
			transform: rotate(360deg);
		}
	}
}