//------------------------------------------------------------------------------
// Error 404 Page
//------------------------------------------------------------------------------

.error-404 {

	@include relative;
	height: calc-sub(100vh, rvw(60px));

	.container {
		@include flex-box;
		@include flex-col(center, center);
		height: 100%;
	}
}

.error-404-content {

	font-size: rvw(30px, 0.8);
	font-weight: bold;
	text-align: center;

	> * {
		opacity: 0;
		transform: translateY(rvw(30px, 0.8));
		transition-property: opacity, transform;
		transition-duration: transition-duration(soft);
		transition-timing-function: transition-equation(soft);
	}

	h1:first-child,
	h2:first-child {
		transform: translateY(rvw(15px, 0.8));
		transition-property: opacity, transform;
		transition-duration: transition-duration(soft);
		transition-timing-function: transition-equation(soft);
	}

	.ready .visible-on-screen & {

		> * {
			opacity: 1;
			transform: none;
		}

		h1:first-child,
		h2:first-child,
		h3:first-child {
			transform: none;
		}
	}
}
