.form-section {

	@include flex-box;
	@include flex-col(flex-start, stretch);

	&:not(:last-child) {
		margin-bottom: rvw(60px);
	}
}

.form-row {

	@include flex-box;
	@include flex-row(flex-start, flex-start);
	margin-left: rvw(-15px);
	margin-right: rvw(-15px);
	width: calc-add(100%, rvw(30px));

	&.form-row--center {
		@include flex-row(flex-start, center);
	}

	@include media-breakpoint-down(sm) {
		display: block;
	}
}

.form-field {

	@include relative;
	@include flexible(1, 1, 0);
	min-height: rvw(60px, 0.75);
	margin-left: rvw(15px);
	margin-right: rvw(15px);
	margin-bottom: rvw(30px);
	width: calc-sub(100%, rvw(30px));

	&.form-field--error {

		input[type=tel],
		input[type=text],
		input[type=email],
		input[type=number],
		input[type=password],
		select, textarea {
			border-bottom-color: #a6a6a6 !important;
			color: #fff !important;
		}

		label {
			color: #ff0101 !important;
		}
	}

	br {
		display: none;
	}

	label {

		@include typeface(
			RobotoBold,
			$size: 16px,
			$fill: inherit
		);

		display: block;
		margin: 0px;
		margin-bottom: rvw(10px);
	}

	&.form-field--filled {
		label {
			display: none;
		}
	}

	input[type=tel],
	input[type=file],
	input[type=text],
	input[type=email],
	input[type=number],
	input[type=password],
	select,
	textarea {

		@include typeface(
			Roboto,
			$size: 16px,
			$fill: inherit
		);

		-webkit-appearance: none;
		background: transparent;
		border: rvw(2px) solid #c1c4c7;
		border-radius: rvw(6px);
		color: #08141f;
		display: block;
		height: rvw(60px, 0.75);
		padding-left: rvw(15px, 0.75);
		padding-right: rvw(15px, 0.75);
		width: 100%;

		&[disabled],
		&[readonly] {

			background: transparent;
			color: #999999;
			opacity: 1;

			&:focus {
				border-color: #34d79e;
			}
		}

		@include placeholder {
			@include typeface(
				NeueMontrealBold,
				$size: 16px,
				$fill: #BDBDBD
			);
		}
	}
}

.form-field--textarea,
.form-field--textarea textarea {
	height: rvw(180px, 0.75);
}

.form-field--textarea textarea {
	padding: rvw(15px, 0.75);
}

.form-action {

	@include flex-box;
	@include flex-col(flex-start, center);

	input[type=submit] {

		@include typeface(
			RobotoBold,
			$size: 13px,
			$fill: #fff,
			$opts: (uppercase)
		);

		@include flex-box;
		@include flex-row(center, center);
		border: none;
		border-radius: rvw(40px);
		background: #79c14a;
		height: rvw(40px);
		padding: 0px;
		padding-left: rvw(20px);
		padding-right: rvw(20px);

		&.button--stroked {

			@include typeface(
				RobotoBold,
				$size: 13px,
				$fill: #79c14a,
				$opts: (uppercase)
			);

			background: none;
			border: rvw(2px) solid #79c14a;
			border-radius: rvw(40px);
		}
	}
}

//------------------------------------------------------------------------------
// Contact Form 7 Specific
//------------------------------------------------------------------------------

.wpcf7-form {

	.wpcf7-form-control-wrap {
		display: block;
	}

	&.invalid {

		.wpcf7-not-valid-tip {

			@include typeface(
				NeueMontrealBold,
				$size: 16px,
				$fill: #d71921
			);

			display: block;
			margin-top: rvw(5px);
			padding-left: rvw(15px);
			padding-right: rvw(15px);
		}

		.wpcf7-response-output {

			@include typeface(
				NeueMontrealBold,
				$size: 16px,
				$fill: #d71921
			);

			border: 2px solid #d71921 !important;
			border-radius: 0px;
			background: transparent;
			margin: 0px;
			margin-top: rvw(15px);
			padding: rvw(15px);
			text-align: center;
		}
	}

	.wpcf7-mail-sent-ok {
		border: 2px solid #000;
		border-radius: rvw(4px);
		background: #ffffff;
		font-size: rvw(17px);
		font-weight: normal;
		padding: rvw(15px);
		text-align: center;
		color: 000;
	}
}