.form-section {

	@include flex-box;
	@include flex-col(flex-start, stretch);

	&:not(:last-child) {
		@include media-break-down using ($bp) {
			margin-bottom: scaled-margin-bottom($bp, 60px);
		}
	}
}

.form-row {

	@include flex-box;
	@include flex-row(flex-start, flex-start);

	@include media-break-down using ($bp) {
		margin-left: scaled-margin-left($bp, -30px);
		margin-right: scaled-margin-right($bp, -30px);
		width: calc-add(100%, scaled-width($bp, 60px));
	}

	&.form-row--center {
		@include flex-row(flex-start, center);
	}

	@include media-breakpoint-down(sm) {
		display: block;
	}

	&:not(:last-child) {
		@include media-break-down using ($bp) {
			margin-bottom: scaled-margin-bottom($bp, 45px);
		}
	}
}

.form-field {

	@include relative;
	@include flex(1, 1, 0);
	border: none;
	border-bottom: 1px solid #a6a6a6;

	@include media-break-down using ($bp) {
		margin-left: scaled-margin-left($bp, 30px);
		margin-right: scaled-margin-right($bp, 30px);
		width: calc-sub(100%, scaled-width($bp, 60px));
	}

	&.form-field--empty {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	&:not(:last-child) {
		@include media-break-down using ($bp) {
			margin-bottom: scaled-margin-bottom($bp, 45px);
		}
	}

	&.form-field--error {

		input[type=text],
		input[type=phone],
		input[type=email],
		input[type=number],
		input[type=password],
		select, textarea {
			border-bottom-color: #a6a6a6 !important;
			color: #fff !important;
		}

		label {
			color: #ff0101 !important;
		}
	}

	&.form-field--active {
		label {
			color: #a6a6a6;
			opacity: 1;
			transform: translateY(-50%) scale(0.75);
		}
	}

	label {

		@include absolute(top 0 left 0);
		@include flex-box;
		@include flex-row(center, flex-start);
		color: #000;
		font-size: rem(22px);
		font-weight: normal;
		min-height: rem(45px);
		padding: 0;
		pointer-events: none;
		transform-origin: top left;
		transition-property: color, opacity, transform;
		transition-duration: transition-duration(fast);
		transition-timing-function: transition-equation(fast);

		@include media-break-down using ($bp) {
			margin-left: scaled-margin-left($bp, 15px);
			margin-right: scaled-margin-right($bp, 15px);
		}

		& + br {
			display: none;
		}
	}

	input[type=text],
	input[type=phone],
	input[type=email],
	input[type=number],
	input[type=password],
	select,
	textarea {

		appearance: none;
		background: transparent;
		border: none;
		border-radius: 0;
		color: #000;
		font-size: rem(18px);
		font-weight: normal;
		display: block;
		min-height: rem(45px);
		width: 100%;

		@include media-break-down using ($bp) {
			padding-left: scaled-padding-left($bp, 15px);
			padding-right: scaled-padding-right($bp, 15px);
		}

		&[disabled],
		&[readonly] {

			background: transparent;
			color: #999999;
			opacity: 1;

			&:focus {
				border-color: #34d79e;
			}
		}
	}

	select {
		/*
		background: url(../images/form-select-arrow.png) no-repeat center right;
		*/
	}
}

.form-field--textarea {

	border: none;
	height: rem(160px);

	textarea {

		appearance: none;
		height: rem(160px);

		@include media-break-down using ($bp) {
			padding-top: scaled-padding-top($bp, 20px);
		}
	}
}

.form-field--check {

	@include flex-box;
	@include flex-row(center, flex-start);
	min-height: rem(50px);

	label {
		@include relative(top auto left auto);
		font-size: rem(16px);
	}

	input[type=checkbox] {

		appearance: none;
		/*
		background: url(../images/form-check.svg) no-repeat center center;
		background-size: contain;
		*/
		border: none;
		border-radius: 0;
		cursor: pointer;
		display: block;
		height: rem(19px);
		position: relative;
		width: rem(22px);

		@include media-break-down using ($bp) {
			margin-right: scaled-margin-right($bp, 15px);
		}

		&:checked {
			/*
			background: url(../images/form-check-checked.svg) no-repeat center center;
			background-size: contain;
			*/
		}

		&:focus {
			outline: none;
		}
	}
}

.form-field--radio {

	@include flex(0, 1, auto);
	@include flex-box;
	@include flex-col(flex-start, flex-start);
	width: auto;

	label {
		@include relative(top auto left auto);
		font-size: rem(16px);
		font-weight: normal;
		height: auto;
		margin: 0px;
		margin-bottom: rem(15px);
		min-height: 0;
		min-width: 0;
	}

	input[type=radio] {

		appearance: none;
		/*
		background: url(../images/form-check.svg) no-repeat center center;
		background-size: contain;
		*/
		border: none;
		border-radius: 0;
		cursor: pointer;
		display: block;
		margin: 0;
		margin-right: rem(10px);
		height: rem(19px);
		position: relative;
		width: rem(22px);

		&:checked {
			/*
			background: url(../images/form-check-checked.svg) no-repeat center center;
			background-size: contain;
			*/
		}

		&:focus {
			outline: none;
		}
	}

	.form-radio-options {

		@include flex-box;
		@include flex-row(center, flex-start);
		margin-left: rem(20px);
		margin-right: rem(20px);

		label {
			@include relative;
			height: auto;
			min-height: 0;
			margin: 0;
			margin-right: rem(10px);
		}
	}
}

.form-footer {

	@include flex-box;
	@include flex-row(flex-start, flex-start);

	button[type=submit] {

		@include relative;
		font-size: rem(18px);
		font-weight: normal;
		border: none;
		border-radius: 0;
		background: transparent;
		height: rem(45px);
		color: #000;
		padding: 0;

		@include media-break-down using ($bp) {
			padding-right: scaled-padding-right($bp, 90px);
		}

		&:after {

			@include absolute(top 50% right 0);
			/*
			background: url(../images/arrow-hollow-right-light.svg) no-repeat center center;
			background-size: contain;
			*/
			content: "";
			display: inline-block;

			@include media-break-down using ($bp) {
				height: scaled-max($bp, 40px);
				margin-top: scaled-max($bp, -20px);
				width: scaled-max($bp, 50px);
			}
		}
	}
}

//------------------------------------------------------------------------------
// Contact Form 7 Specific
//------------------------------------------------------------------------------

.wpcf7-form {

	.wpcf7-form-control-wrap {
		display: block;
	}

	.wpcf7-not-valid-tip {
		@include absolute;
		display: block;
		color: #d71921;
		font-size: rem(14px);
		font-weight: normal;
		margin-top: rem(5px);
		padding-left: rem(15px);
		padding-right: rem(15px);
	}

	.wpcf7-validation-errors {
		border: 2px solid #d71921;
		border-radius: rem(4px);
		background: transparent;
		font-size: rem(18px);
		font-weight: normal;
		padding: rem(15px);
		text-align: center;
	}

	.wpcf7-mail-sent-ok {
		border: 2px solid #000;
		border-radius: rem(4px);
		background: #ffffff;
		font-size: rem(18px);
		font-weight: normal;
		padding: rem(15px);
		text-align: center;
		color: 000;
	}
}

@include placeholder {
	color: #f5f5f5;
}
