.form-section {

	@include flex-box;
	@include flex-col(flex-start, stretch);

	&:not(:last-child) {
		margin-bottom: rvw(60px, 0.8);
	}
}

.form-row {

	@include flex-box;
	@include flex-row(flex-start, flex-start);
	margin-left: rvw(-30px, 0.8);
	margin-right: rvw(-30px, 0.8);
	width: calc-add(100%, rvw(60px, 0.8));

	&.form-row--center {
		@include flex-row(flex-start, center);
	}

	@include media-breakpoint-down(sm) {
		display: block;
	}

	&:not(:last-child) {
		margin-bottom: rvw(45px, 0.8);
	}
}

.form-field {

	@include relative;
	@include flex(1, 1, 0);
	border: none;
	border-bottom: 1px solid #141414;
	min-height: rvw(45px, 0.8);
	margin-left: rvw(30px, 0.8);
	margin-right: rvw(30px, 0.8);
	width: calc-sub(100%, rvw(60px, 0.8));

	&.form-field--empty {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	&:not(:last-child) {
		margin-bottom: rvw(45px, 0.8);
	}

	&.form-field--error {

		input[type=text],
		input[type=phone],
		input[type=email],
		input[type=number],
		input[type=password],
		select, textarea {
			border-bottom-color: #a6a6a6 !important;
			color: #fff !important;
		}

		label {
			color: #ff0101 !important;
		}
	}

	&.form-field--active {
		label {
			transform: translateY(-50%) scale(0.75);
		}
	}

	label {

		@include absolute(top 0 left 0);
		@include flex-box;
		@include flex-row(center, flex-start);
		color: #000000;
		font-size: rvw(17px, 0.8);
		font-weight: 400;
		letter-spacing: 0.10em;
		min-height: rvw(45px, 0.8);
		margin-left: rvw(15px, 0.8);
		margin-right: rvw(15px, 0.8);
		padding: 0;
		pointer-events: none;
		transform-origin: top left;
		transition-property: color, opacity, transform;
		transition-duration: transition-duration(soft);
		transition-timing-function: transition-equation(soft);

		& + br {
			display: none;
		}
	}

	input[type=file],
	input[type=text],
	input[type=phone],
	input[type=email],
	input[type=number],
	input[type=password],
	select,
	textarea {

		appearance: none;
		background: transparent;
		border: none;
		border-radius: 0;
		color: #000000;
		display: block;
		font-size: rvw(17px, 0.8);
		font-weight: normal;
		letter-spacing: 0.10em;
		min-height: rvw(45px, 0.8);
		padding-left: rvw(15px, 0.8);
		padding-right: rvw(15px, 0.8);
		width: 100%;

		&[disabled],
		&[readonly] {

			background: transparent;
			color: #999999;
			opacity: 1;

			&:focus {
				border-color: #34d79e;
			}
		}
	}

	select {
		background: url(../images/form-select-arrow.png) no-repeat center right;
		background-size: contain;
	}
}

.form-field--textarea {

	height: rvw(80px, 0.8);

	textarea {
		appearance: none;
		height: rvw(80px, 0.8);
		padding-top: rvw(20px, 0.8);
	}
}

.form-field--check {

	@include flex-box;
	@include flex-row(center, flex-start);
	min-height: rvw(50px, 0.8);

	label {
		@include relative(top auto left auto);
		font-size: rvw(17px, 0.8);
	}

	input[type=checkbox] {

		appearance: none;
		background: url(../images/form-check.svg) no-repeat center center;
		background-size: contain;
		border: none;
		border-radius: 0;
		cursor: pointer;
		display: block;
		height: rvw(22px, 0.8);
		margin: 0px;
		margin-right: rvw(15px, 0.8);
		width: rvw(22px, 0.8);

		&:checked {
			background: url(../images/form-check-checked.svg) no-repeat center center;
			background-size: contain;
		}

		&:focus {
			outline: none;
		}
	}
}

.form-field--radio {

	@include flex(0, 1, auto);
	@include flex-box;
	@include flex-col(flex-start, flex-start);
	width: auto;

	label {
		@include relative(top auto left auto);
		font-size: rvw(17px, 0.8);
		font-weight: normal;
		height: auto;
		margin: 0px;
		margin-bottom: rvw(15px, 0.8);
		min-height: 0;
		min-width: 0;
	}

	input[type=radio] {

		appearance: none;
		background: url(../images/form-check.svg) no-repeat center center;
		background-size: contain;
		border: none;
		border-radius: 0;
		cursor: pointer;
		display: block;
		margin: 0;
		margin-right: rvw(10px, 0.8);
		height: rvw(22px, 0.8);
		width: rvw(22px, 0.8);

		&:checked {
			background: url(../images/form-check-checked.svg) no-repeat center center;
			background-size: contain;
		}

		&:focus {
			outline: none;
		}
	}

	.form-radio-options {

		@include flex-box;
		@include flex-row(center, flex-start);
		margin-left: rvw(20px);
		margin-right: rvw(20px);

		label {
			@include relative;
			height: auto;
			min-height: 0;
			margin: 0;
			margin-right: rvw(10px, 0.8);
		}
	}
}

.form-field--file {

	input {
		@include absolute(top 0 left 0);
		display: block;
		cursor: pointer;
		opacity: 0.001;
		height: 100%;
		width: 100%;
	}

	.form-file-value {
		font-size: rvw(17px, 0.8);
		font-weight: normal;
		letter-spacing: 0.10em;
		line-height: rvw(45px, 0.8);
		min-height: rvw(45px, 0.8);
		overflow: hidden;
		padding-left: rvw(15px, 0.8);
		padding-right: rvw(15px, 0.8);
		white-space: nowrap;
	}
}

.form-footer {

	@include flex-box;
	@include flex-row(flex-start, flex-start);

	[type=submit] {
		@include relative;
		background: transparent;
		border: none;
		border-radius: 0px;
		color: inherit;
		cursor: pointer;
		font-size: rvw(16px, 0.8);
		font-weight: 400;
		display: block;
		letter-spacing: 0.15em;
		margin: 0px;
		padding: 0px;
		text-align: left;
		white-space: nowrap;
	}
}

//------------------------------------------------------------------------------
// Contact Form 7 Specific
//------------------------------------------------------------------------------

.wpcf7-form {

	.wpcf7-form-control-wrap {
		display: block;
	}

	.wpcf7-not-valid-tip {
		@include absolute;
		display: block;
		color: #d71921;
		font-size: rvw(17px, 0.8);
		font-weight: normal;
		margin-top: rvw(5px, 0.8);
		padding-left: rvw(15px, 0.8);
		padding-right: rvw(15px, 0.8);
	}

	.wpcf7-validation-errors {
		border: 2px solid #d71921;
		border-radius: rvw(4px, 0.8);
		background: transparent;
		font-size: rvw(17px, 0.8);
		font-weight: normal;
		padding: rvw(15px, 0.8);
		text-align: center;
	}

	.wpcf7-mail-sent-ok {
		border: 2px solid #000;
		border-radius: rvw(4px, 0.8);
		background: #ffffff;
		font-size: rvw(17px, 0.8);
		font-weight: normal;
		padding: rvw(15px, 0.8);
		text-align: center;
		color: 000;
	}
}

@include placeholder {
	color: #f5f5f5;
}
