//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
// Headings
//------------------------------------------------------------------------------

h1 {
	font-size: rvw(40px, 0.8);
	line-height: 1.2;
	margin: 0px;
	margin-top: rvw(60px, 0.8);
	margin-bottom: rvw(45px, 0.8);
}

h2 {
	font-size: rvw(32px, 0.8);
	line-height: 1.2;
	margin: 0px;
	margin-top: rvw(60px, 0.8);
	margin-bottom: rvw(45px, 0.8);
}

h3 {
	font-size: rvw(24px, 0.8);
	line-height: 1.2;
	margin: 0px;
	margin-top: rvw(60px, 0.8);
	margin-bottom: rvw(45px, 0.8);
}

h4 {
	font-size: rvw(20px, 0.8);
	line-height: 1.2;
	margin: 0px;
	margin-top: rvw(60px, 0.8);
	margin-bottom: rvw(45px, 0.8);
}

h1, h2, h3, h4, h5, p {

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include media-breakpoint-down(xs) {
		word-break: break-word;
	}
}

//------------------------------------------------------------------------------
// Text
//------------------------------------------------------------------------------

.line {
	@include relative;
	display: block;
}

.word {
    @include relative;
    display: inline-block;
    white-space: nowrap;
}

.char {
    @include relative;
    display: inline-block;
    white-space: nowrap;
}

//------------------------------------------------------------------------------
// WYSIWYG Text
//------------------------------------------------------------------------------

.wysiwyg {

	strong {
		font-weight: 600;
	}

	ul, li, p {
		margin: 0;
	}

	a {

		color: inherit;
		text-decoration: underline;
		transition-property: color;
		transition-duration: transition-duration(hover);
		transition-timing-function: transition-equation(hover);

		.no-touchevents &:hover {
			color: red;
		}
	}

	p {
		&:not(:last-child) {
			margin-bottom: rvw(45px, 0.8);
		}
	}

	ul {

		padding: 0px;
		padding-left: rvw(45px, 0.8);

		&:not(:last-child) {
			margin-bottom: rvw(45px, 0.8);
		}
	}

	ol {

		padding: 0px;
		padding-left: rvw(45px, 0.8);

		&:not(:last-child) {
			margin-bottom: rvw(45px, 0.8);
		}
	}

	li {
		&:not(:last-child) {
			margin-bottom: rvw(15px, 0.8);
		}
	}

	blockquote {

		@include relative;
		margin: 0;
		padding: 0;

		&:not(:last-child) {
			margin-bottom: rvw(15px, 0.8);
		}
	}

	.text-emphasize {

		font-size: rvw(48px, 0.8);
		font-weight: 300;
		letter-spacing: 0.05em;
		line-height: 1.35;

		&:not(:first-child) {
			margin-top: rvw(60px, 0.8);
		}

		&:not(:last-child) {
			margin-bottom: rvw(60px, 0.8);
		}
	}

	.text-understate {
		font-size: rvw(14px, 7px);
		font-weight: 300;
		letter-spacing: 0.15em;
	}
}

//------------------------------------------------------------------------------
// Wordpress WYSIWYG TEXT
//------------------------------------------------------------------------------

.wysiwyg {

	img {
		max-width: 100%;
	}

   .alignnone {

		display: block;
		margin: 0;

		&:not(:last-child) {
			margin-bottom: rvw(45px, 0.8);
		}

		p:not(:last-child) & {
			margin-bottom: rvw(45px, 0.8);
		}
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rvw(45px, 0.8);
	}

	.alignright {
		float: right;
		margin: 0;
		margin-left: rvw(30px, 0.8);
	}

	.alignleft {
		float: left;
		margin: 0;
		margin-right: rvw(30px, 0.8);
	}

	.wp-caption {

		&.alignnone {

			width: 100% !important;

			&:not(:last-child) {
				margin-bottom: rvw(30px, 0.8);
			}
		}

		&.alignleft {
			margin-right: rvw(30px, 0.8);
		}

		&.alignright {
			margin-left: rvw(30px, 0.8);
		}

		img {
			display: block;
			height: auto;
			width: 100%;
		}

		.wp-caption-text {
			font-size: rvw(12px, 0.8);
			margin: 0;
			margin-top: rvw(10px, 0.8);
		}
	}

	.gallery {
		@include flex-box;
		@include flex-row(flex-start, flex-start);
		@include flex-wrap(wrap);
		margin-left: rvw(-15px, 0.8);
		margin-right: rvw(-15px, 0.8);
	}

	.gallery-item {
		margin-left: rvw(15px, 0.8);
		margin-right: rvw(15px, 0.8);
		margin-bottom: rvw(30px, 0.8);
	}

	.screen-reader-text {
		border: 0;
		clip-path: inset(50%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}

	.screen-reader-text:focus {
		background-color: #eee;
		clip-path: none;
		clip: auto !important;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}
