//------------------------------------------------------------------------------
// Grid
//------------------------------------------------------------------------------

/**
 * The breakpoint keys.
 * @var breakpoints
 * @since 1.0.0
 */
 $breakpoints: (
	xxxl,
	xxl,
	xl,
	lg,
	md,
	sm,
	xs
);

/**
 * The largers breakpoints.
 * @var $large-breakpoints
 * @since 1.0.0
 */
$large-breakpoints: (
	xxxl,
	xxl,
	xl,
	lg
);

/**
 * The smaller breakpoints.
 * @var $small-breakpoints
 * @since 1.0.0
 */
$small-breakpoints: (
	md,
	sm,
	xs
);

/**
 * The grid breakpoints.
 * @var grid
 * @since 1.0.0
 */
$grid: (
	xs:   0,
	sm:   576px,
	md:   768px,
	lg:   992px,
	xl:   1200px,
	xxl:  1600px,
	xxxl: 1920px,
);

/**
 * The vertical spacing between each block for each breakpoints.
 * @var block-spacings-v
 * @since 1.0.0
 */
$block-spacings-v: (
	xs:   60px,
	sm:   60px,
	md:   90px,
	lg:   90px,
	xl:   120px,
	xxl:  120px,
	xxxl: 120px,
);

/**
 * The horizontal spacing between each block for each breakpoints.
 * @var block-spacings-h
 * @since 1.0.0
 */
$block-spacings-h: (
	xs:   45px,
	sm:   60px,
	md:   90px,
	lg:   90px,
	xl:   120px,
	xxl:  120px,
	xxxl: 120px,
);

/**
 * The vertical scaling applied based on the beakpoint.
 * @var spacing-scales-v
 * @since 1.0.0
 */
$spacing-scales-v: (
	xs:   0.500,
	sm:   0.500,
	md:   0.750,
	lg:   0.750,
	xl:   1.000,
	xxl:  1.000,
	xxxl: 1.000,
);

/**
 * The horizontal scaling applied based on the beakpoint.
 * @var global-v-spacing-scales
 * @since 1.0.0
 */
$spacing-scales-h: (
	xs:   0.500,
	sm:   0.500,
	md:   0.750,
	lg:   0.750,
	xl:   1.000,
	xxl:  1.000,
	xxxl: 1.000,
);

/**
 * Transition speed and curves.
 * @var transitions
 * @since 1.0.0
 */
$transitions: (

	soft: (
		duration: 750ms,
		equation: cubic-bezier(0.190, 1.000, 0.220, 1.000)
	),

	slow: (
		duration: 500ms,
		equation: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	),

	fast: (
		duration: 350ms,
		equation: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	),

	hover: (
		duration: 250ms,
		equation: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	)
);