//------------------------------------------------------------------------------
// Grid
//------------------------------------------------------------------------------

/**
 * The breakpoint keys.
 * @var breakpoints
 * @since 1.0.0
 */
 $breakpoints: (
	xxxl,
	xxl,
	xl,
	lg,
	md,
	sm,
	xs
);

/**
 * The grid breakpoints.
 * @var grid
 * @since 1.0.0
 */
$grid: (
	xs:   0,
	sm:   576px,
	md:   768px,
	lg:   992px,
	xl:   1200px,
	xxl:  1600px,
	xxxl: 1920px
);

/**
 * The vertical spacing between each blocks.
 * @var block-spacings-v
 * @since 1.0.0
 */
$block-spacings-v: 120px;

/**
 * The horizontal spacing between each blocks.
 * @var block-spacings-h
 * @since 1.0.0
 */
$block-spacings-h: 120px;

/**
 * Transition speed and curves.
 * @var transitions
 * @since 1.0.0
 */
$transitions: (

	soft: (
		duration: 1000ms,
		equation: cubic-bezier(0.230, 1.000, 0.320, 1.000)
	),

	fast: (
		duration: 750ms,
		equation: cubic-bezier(0.230, 1.000, 0.320, 1.000)
	),

	hover: (
		duration: 500ms,
		equation: cubic-bezier(0.230, 1.000, 0.320, 1.000)
	)
);

$background-color: var(--background-color);
$foreground-color: var(--foreground-color);