/**
 * Returns a transition duration by name.
 * @function transition-duration
 * @since 1.0.0
 */
@function transition-duration($name, $mul: 1, $map: $transitions) {
	@return map-get(map-get($map, $name), duration) * $mul;
}

/**
 * Returns a transition equation by name.
 * @function transition-equation
 * @since 1.0.0
 */
 @function transition-equation($name, $map: $transitions) {
	@return map-get(map-get($map, $name), equation);
}
