@import "common/vars";
@import "include/func";
@import "include/anim";
@import "include/flex";
@import "include/grid";
@import "include/util";

/**
 * Initialize the common styles of a block.
 * @function block
 * @since 1.0.1
 */
@mixin block($spacing: spaced, $mul: 1) {

	@include relative;

	@if ($spacing == spaced) {
		margin-top: rvw(120px, 30px);
		margin-bottom: rvw(120px, 30px);
	}

	@if ($spacing == padded) {
		padding-top: rvw(120px, 30px);
		padding-bottom: rvw(120px, 30px);
	}
}
