@import "common/vars";
@import "include/func";
@import "include/anim";
@import "include/flex";
@import "include/grid";
@import "include/util";

/**
 * Returns the horizontal block spacing.
 * @function block-spacing-v
 * @sinc 1.0.0
 */
@function block-spacing-h($mul: 1) {
	@return rvw($block-spacing-h * $mul, 0);
}

/**
 * Returns the vertical block spacing.
 * @function block-spacing-v
 * @sinc 1.0.0
 */
@function block-spacing-v($mul: 1) {
	@return rvw($block-spacing-v * $mul, 0);
}

/**
 * Initialize the common styles of a block.
 * @function block
 * @since 1.0.1
 */
@mixin block($spacing: spaced, $mul: 1) {

	@include relative;

	@if ($spacing == spaced) {
		margin-top: block-spacing-h($mul);
		margin-bottom: block-spacing-h($mul);
	}

	@if ($spacing == padded) {
		padding-top: block-spacing-h($mul);
		padding-bottom: block-spacing-h($mul);
	}
}
