/**
 * @mixin flex
 * @since 1.0.0
 */
 @mixin flex($fg: 1, $fs: null, $fb: null) {
	flex: $fg $fs $fb;
}

/**
 * @mixin flex-box
 * @since 1.0.0
 */
@mixin flex-box {
	display: flex;
}

/**
 * @mixin flex-box-inline
 * @since 1.0.0
 */
@mixin flex-box-inline {
	display: inline-flex;
}

/**
 * @mixin flex-row
 * @since 1.0.0
 */
@mixin flex-row($v, $h, $mode: row, $wrap: false) {

	@if $mode == reverse {
		$mode: row-reverse;
	}

	flex-direction: $mode;

	@if $wrap {
		flex-wrap: wrap;
	}

	align-items:     $v;
	justify-content: $h;
}

/**
 * @mixin flex-col
 * @since 1.0.0
 */
@mixin flex-col($v, $h, $mode: column, $wrap: false) {

	@if $mode == reverse {
		$mode: column-reverse;
	}

	flex-direction: $mode;

	@if $wrap {
		flex-wrap: wrap;
	}

	align-items:     $h;
	justify-content: $v;
}

/**
 * @mixin mflex-set
 * @since 1.0.0
 */
@mixin flex-set($align) {
	align-self: $align;
}

/**
 * @mixin flex-ord
 * @since 1.0.0
 */
 @mixin flex-ord($int: 0) {
	order: $int;
}