//------------------------------------------------------------------------------
// Container
//------------------------------------------------------------------------------

.container {
	margin-left: rvw(120px, 0.8);
	margin-right: rvw(120px, 0.8);
	width: calc-sub(100%, rvw(240px, 0.8));
}

//------------------------------------------------------------------------------
// Main Layout
//------------------------------------------------------------------------------

.main-layout {
	@include relative;
}

//------------------------------------------------------------------------------
// Main Layout Header
//------------------------------------------------------------------------------

.main-layout-header {

	background: #fff;
	height: rvw(120px, 0.8);

	.container {
		@include relative;
		@include flex-box;
		@include flex-row(center, flex-start);
		height: rem(120px, 0.8);
		transition-property: height;
		transition-duration: transition-duration(fast);
		transition-timing-function: transition-equation(fast);
	}
}

.main-layout-header-logo {

	@include relative;
	@include flex-box;
	@include flex-row(center, flex-start);
	@include flex(none);

	a {

		@include absolute(top 0 left 0);
		height: 100%;
		width: 100%;

		span {
			visibility: hidden;
		}
	}
}

.main-layout-header-menu {

	@include flex-box;
	@include flex-row(center, flex-start);
	height: 100%;

	.menu {

		@include flex-box;
		@include flex-row(center, center);
		@include flex(none);
		margin: 0;
		padding: 0;
	}

	.menu-item {

		@include relative;
		font-size: rem(15px, 0.8);
		font-weight: normal;
		list-style: none;
		list-style-position: outside;
		white-space: nowrap;

		&.current-menu-item,
		&.current-menu-item-ancestor {
			&:after {
				transform: none;
			}
		}

		&.wpml-ls-current-language {
			&:after {
				transform: none;
			}
		}

		.no-touchevents &:hover {
			&:after {
				transform: none;
			}
		}

		a {
			color: inherit;
		}
	}
}


//------------------------------------------------------------------------------
// Main Layout Content
//------------------------------------------------------------------------------

.main-layout-content {
	overflow: hidden;
	width: 100%;
}

//------------------------------------------------------------------------------
// Main Layout Footer
//------------------------------------------------------------------------------

.main-layout-footer {

	@include relative;

	.container {
		@include relative;
		@include flex-box;
		@include flex-col(flex-start, stretch);
	}
}

//------------------------------------------------------------------------------
// Main Layout Loader
//------------------------------------------------------------------------------

.main-layout-loader {

	@include fixed(top 0 left 0 right 0 bottom 0);

	&.main-layout-loader--enter {

		transform: translateY(100%);

		&.main-layout-loader--enter-active {
			transform: none;
			transition-property: transform;
			transition-duration: transition-duration(soft);
			transition-timing-function: transition-equation(soft);

		}
	}

	&.main-layout-loader--leave {

		transform: none;

		&.main-layout-loader--leave-active {
			transform: translateY(-100%);
			transition-property: transform;
			transition-duration: transition-duration(soft);
			transition-timing-function: transition-equation(soft);
		}
	}

	&.main-layout-loader--unload {

		transform: translateY(100%);

		&.main-layout-loader--unload-active {
			transform: translateX(0%);
			transition-property: transform;
			transition-duration: transition-duration(soft);
			transition-timing-function: transition-equation(soft);
		}
	}

	&.main-layout-loader--gone {
		display: none;
	}
}

.main-layout-loader-bar-value {
	transition-property: width;
	transition-duration: transition-duration(fast);
	transition-timing-function: transition-equation(fast);
}